<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbs.mapper.ReportInfoMapper" >
  <resultMap id="BaseResultMap" type="com.bbs.pojo.ReportInfo" >
    <id column="report_id" property="reportId" jdbcType="VARCHAR" />
    <result column="post_id" property="postId" jdbcType="VARCHAR" />
    <result column="revert_id" property="revertId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="report_reason" property="reportReason" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="is_resolve" property="isResolve" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    report_id, post_id, revert_id, user_id, report_reason, create_date, is_resolve
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bbs.pojo.ReportInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from report_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from report_info
    where report_id = #{reportId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from report_info
    where report_id = #{reportId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.bbs.pojo.ReportInfoExample" >
    delete from report_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bbs.pojo.ReportInfo" >
    insert into report_info (report_id, post_id, revert_id, 
      user_id, report_reason, create_date, 
      is_resolve)
    values (#{reportId,jdbcType=VARCHAR}, #{postId,jdbcType=VARCHAR}, #{revertId,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{reportReason,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{isResolve,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bbs.pojo.ReportInfo" >
    insert into report_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="reportId != null" >
        report_id,
      </if>
      <if test="postId != null" >
        post_id,
      </if>
      <if test="revertId != null" >
        revert_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="reportReason != null" >
        report_reason,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="isResolve != null" >
        is_resolve,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="reportId != null" >
        #{reportId,jdbcType=VARCHAR},
      </if>
      <if test="postId != null" >
        #{postId,jdbcType=VARCHAR},
      </if>
      <if test="revertId != null" >
        #{revertId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="reportReason != null" >
        #{reportReason,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isResolve != null" >
        #{isResolve,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bbs.pojo.ReportInfoExample" resultType="java.lang.Integer" >
    select count(*) from report_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update report_info
    <set >
      <if test="record.reportId != null" >
        report_id = #{record.reportId,jdbcType=VARCHAR},
      </if>
      <if test="record.postId != null" >
        post_id = #{record.postId,jdbcType=VARCHAR},
      </if>
      <if test="record.revertId != null" >
        revert_id = #{record.revertId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.reportReason != null" >
        report_reason = #{record.reportReason,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isResolve != null" >
        is_resolve = #{record.isResolve,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update report_info
    set report_id = #{record.reportId,jdbcType=VARCHAR},
      post_id = #{record.postId,jdbcType=VARCHAR},
      revert_id = #{record.revertId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      report_reason = #{record.reportReason,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      is_resolve = #{record.isResolve,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbs.pojo.ReportInfo" >
    update report_info
    <set >
      <if test="postId != null" >
        post_id = #{postId,jdbcType=VARCHAR},
      </if>
      <if test="revertId != null" >
        revert_id = #{revertId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="reportReason != null" >
        report_reason = #{reportReason,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isResolve != null" >
        is_resolve = #{isResolve,jdbcType=INTEGER},
      </if>
    </set>
    where report_id = #{reportId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbs.pojo.ReportInfo" >
    update report_info
    set post_id = #{postId,jdbcType=VARCHAR},
      revert_id = #{revertId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      report_reason = #{reportReason,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      is_resolve = #{isResolve,jdbcType=INTEGER}
    where report_id = #{reportId,jdbcType=VARCHAR}
  </update>
</mapper>